ion-content {
  --ion-background-color: #090e22;
}

ion-card h4,
ion-card span {
  color: #fff;
  margin: 5px 0 5px 0;
}

ion-card h5 {
  color: red;
  margin: 5px 0 5px 0;
}

ion-toolbar {
  background-color: #fff;
  text-align: center;
  color: #000;
}
ion-title {
  font-weight: bold;
}

.df {
  display: flex;
}
.p5 {
  padding: 5px;
}
.serie-card {
  height: 120px;
  background-color: #1a1d29;
  border: 2px solid #434550;
}
ion-card img {
  background: #f2f2f2;
  width: 120px;
  height: 120px;
}
